certifi==2020.12.5
charset-normalizer==2.0.3
click==7.1.2
Cython==0.29.14
dynamixel-sdk==3.7.31
gensim==3.8.3
idna==3.2
joblib==1.0.1
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
nltk==3.5
numpy==1.19.3
opencv-python==4.4.0.46
pyserial==3.4
regex==2021.4.4
requests==2.26.0
scipy==1.5.2
six==1.15.0
smart-open==5.0.0
tornado==4.5.3
tqdm==4.60.0
urllib3==1.26.6
wincertstore==0.2